
<!-- fenetre de chat -->
<div class="inline" id="main">

  <app-carnet></app-carnet>

  <!-- CHAT -->
  <div class="gigachat colon">
    <div class="messageDisplay" #messD (scroll)="disableAutoScroll()">
      <div *ngFor="let m of messages" class="message">
        <!-- auteur [style.color]="m.couleur" -->
        <span  
        [style.borderColor]="m.couleur" 
        class="messAut" 
        *ngIf="m.auteur">{{m.auteur}} :</span>
        <!-- contenu -->
        <span *ngIf="!notMessage.includes(m.style)"
        [ngClass]="{
          'gigaNotif' : m.style == 'notif',
          'gigaErreur' : m.style == 'erreur'
        }">{{m.contenu}}
        </span>
        <div *ngIf="m.style == 'quote'" class="quote">
          <span class="gigaQuote quoteMaj">{{m.contenu | uppercase | slice:0:1}}</span>
          <span class="gigaQuote">{{m.contenu | slice:1}}</span>
          <span *ngIf="m.info" class="quotee">− {{m.info}}</span>
          <i class="fa-solid fa-quote-right" [style.color]="m.couleur"></i>
        </div>
        <pre *ngIf="m.style == 'code'" [highlight]="m.contenu"></pre>
        <app-dice *ngIf="m.style == 'diceroll'" 
        [diceuser]="{id:m.auteurID,color:m.couleur}" 
        [dicetype]="m.contenu" 
        [userid]="user.id"
        [diceID]="m.info"></app-dice>
      </div>
    </div>
    <div class="autoscroll" 
    (click)="autoscroll = true ; autoScroll()" 
    *ngIf="!autoscroll">
      <i class="fa-solid fa-angles-down"></i>
    </div>

  <!-- PROMPT -->
    <div class="inline messageInput">
      <div id="colorpicker" (click)="picker.classList.toggle('hidd')" class="hid-container" [style.background-color]="user.color">
        <div class="hid-element hidd" #picker>
          <div class="color" *ngFor="let c of colorlist" [style.background-color]="c" (click)="changeColor(c)"></div>
        </div>
      </div>
      <textarea ngModel (ngModelChange)="adjustHeight(messageB)" #messageB>
      </textarea>
      <button (click)="sendMessage(messageB)">
        <i class="fa-solid fa-paper-plane" style="font-size:24px; color:rgb(198, 198, 198);"></i>
      </button>
    </div>
    
  </div>

  <!-- LISTE DES UTILISATEURS CONNECTÉS -->
  <div class="userlistDisplay colon" #userlistD>
    <div *ngFor="let u of userlist | keyvalue">
      <p [style.background-color]="u.value.color">{{u.value.name | slice:0:2}}</p>
      <i class="fa-solid fa-star" *ngIf="u.key == user.id"></i>
    </div>
    <button (click)="logout()">
      <i class="fa-solid fa-power-off"></i>
    </button>
  </div>

</div>