/* ACCUEIL */
:host {
    flex-grow: 1;
}

#main {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    flex-grow: 1;
    position: relative;
}

.gigachat {
    padding: 4px;
    width: 25%;
    background: #424242;
}
.gigachat button {
    width: 30%;
    margin-left: auto;
    padding: 8px;
    border: none;
    background: black;
    color: white;
    font-size: 14px;
}
.gigachat button:hover {
    transform: scale(1.1);
}


.messageDisplay {
    padding: 4px;
    flex-grow: 1;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    position: relative;
}
.message {
    padding: 4px;
    display: grid;
}

.gigachat .autoscroll {
    position: absolute;
    bottom: 90px;
    right: 12px;
    background: rgba(255,255,255,0.3);
    color: black;
    font-size: 24px;
    padding: 6px 12px;
    transition: 0.1s
}
.gigachat .autoscroll:hover {
    background: rgba(255,255,255,0.8);
    color: black;
}

/* STYLES DES MESSAGES */
.messageDisplay span {
    white-space: pre-wrap;
    display: block;
    font-size: 13px;
    color: white;
    padding-left: 6px;
}
.messageDisplay .messAut {
    border: none;
    border-left: 5px white solid;
    font-weight: 600;
    font-size: 14px;
    color: white;
    padding-left: 2px;
}
.messageDisplay pre {
    margin: 4px;
    overflow-x: auto;
}
.messageDisplay span.gigaErreur {
    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
    color: lightcoral;
}
.messageDisplay span.gigaNotif {
    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
    color: darkseagreen;
}
.messageDisplay div.quote {
    font-family: 'EB Garamond', serif;
    background: Wheat;
    padding: 12px;
    box-shadow: 0px 0px 10px 1px wheat;
    margin: 24px auto;
    text-justify: inter-word;
    position: relative;
    width: 60%;
}
div.quote span.gigaQuote {
    color: black;
    font-size: 18px;
    display: inline;
    margin: 0;
    padding: 0;
    z-index: 10;
}
div.quote span.quoteMaj {
    font-size: 24px;
    color: rgb(37, 37, 37);
    display: inline;
    margin: 0;
    padding: 0;
}
div.quote span.quotee {
    font-style: italic;
    font-size: 18px;
    color: rgb(31, 31, 31);
    padding-top: 12px;
    padding-right: 12px;
    text-align: end;
}
div.quote i {
    position: absolute;
    font-size: 48px;
    opacity: 0.8;
    color: brown;
    top: -20px;
    right: -18px;
    transform: rotate(28deg);
    z-index: 5;
}

/* USERLIST */
.userlistDisplay {
    flex: 0 64px;
    padding-top: 12px;
    background: black;
}
.userlistDisplay>div {
    position: relative;
    width: 42px;
    height: 42px;
    margin: 5px auto;
    border-radius: 50%;
    align-content: space-evenly;
    text-align: center;
}
.userlistDisplay span {
    font-weight: 600;
    font-size: 16px;
    color:white;
    position: relative;
    top: 10px;
}
.userlistDisplay div i {
    position: absolute;
    right: 1px;
    top: -2px;
    font-size: 12px;
    color: white;
}
.userlistDisplay button {
    margin-top: auto;
    padding: 8px;
    border: none;
    background: firebrick;
    color: white;
    font-size: 14px;
    margin-bottom: 16px;
    transition: 0.2s;
}
.userlistDisplay button:hover {
    background: red;
}

/* MESSAGE INPUT */
.messageInput {
    margin: 8px;
    margin-top: 16px;
}
.messageInput textarea {
    flex: 7;
    border: none;
    resize: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 12px 8px;
    margin: 0;
    height: 18px;
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: #343434;
}
::-webkit-scrollbar-thumb {
    background-color: #838383;
}
.messageInput button {
    flex: 1;
    border: none;
    color: dimgray;
    padding: 0;
}

/* COLOR PICKER */
#colorpicker {
    width: 24px;
    position: relative;
    z-index: 3;
}
#colorpicker>div {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(80%, -120%);
    display: flex;
    flex-flow: row wrap;
    width: 128px;
}
.color {
    width: 24%;
    height: 32px;
    border-radius: 10%;
}
.color:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 1128px) {
    .gigachat {
        width: 35%;
    }
}

@media screen and (max-width: 800px) {
    .gigachat {
        border: none;
        width: 100%;
    }
}