/* ACCUEIL */
.gigacontain {
    border-left: 1px black solid;
    padding: 4px;
    width: 40%;
    background: #424242
}
/* .gigacontain input {
    font-size: 32px;
    margin: 12px 0px;
} */
.gigacontain button {
    width: 30%;
    margin-left: auto;
    padding: 8px;
    border: none;
    background: black;
    color: white;
    font-size: 14px;
}
.gigacontain button:hover {
    transform: scale(1.1);
}

/*  */
.reconnect {
    margin-top: 32px;
    margin-left: auto;
}
.reconnect a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.reconnect span {
    display: inline-block;
    font-size: 8px;
    font-weight: 600;
    background: gray;
    color: white;
    border-radius: 20%/50%;
    padding: 2px 4px;
    transform: translateY(-3px);
    margin-left: 6px;
    cursor: pointer;
}
.reconnect span.active {
    background: black;
}
.reconnect i{
    margin-left: 8px;
    cursor: pointer;
}

.messageDisplay {
    padding: 4px;
    flex-grow: 1;
    height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
}
.message {
    padding: 4px;
}
.messageDisplay span {
    white-space: pre-wrap;
    display: block;
    font-size: 13px;
    color: white;
}
.messAut {
    border: none;
    border-left: 5px white solid;
    font-weight: 600;
    font-size: 14px;
    color: white;
    padding-left: 2px;
}

/* STYLES DES MESSAGES */
.messageDisplay span.gigaCode {
    /* display: block; */
    padding: 8px;
    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
    background: #929292;
    color: black;
    border-left: 5px black solid;
}
.messageDisplay span.gigaErreur {
    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
    color: gray;
}
.messageDisplay span.gigaNotif {
    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
    color: darkseagreen;
}
.messageDisplay span.gigaQuote {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    color: black;
    background: Wheat;
    padding: 12px;
}



.userlistDisplay {
    flex: 0 64px;
    padding-top: 12px;
    background: black;
}
.userlistDisplay>div {
    position: relative;
}
.userlistDisplay p {
    margin: 5px auto;
    font-weight: 600;
    font-size: 18px;
    color:white;
    padding: 8px;
    border-radius: 50%;
    text-align: center;
    width: 24px;
}
.userlistDisplay div i {
    position: absolute;
    right: 10px;
    top: 4px;
    font-size: 12px;
    color: white;
}
.userlistDisplay button {
    margin-top: auto;
    padding: 8px;
    border: none;
    background: firebrick;
    color: white;
    font-size: 14px;
    margin-bottom: 16px;
    transition: 0.2s;
}
.userlistDisplay button:hover {
    background: red;
}


/* MESSAGE INPUT */
.messageInput {
    margin: 8px;
    margin-top: 16px;
}
.messageInput textarea {
    flex: 7;
    border: none;
    resize: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 12px 8px;
    margin: 0;
    height: 18px;
}
.messageInput button {
    flex: 1;
    border: none;
    color: dimgray;
    padding: 0;
}

/* COLOR PICKER */
#colorpicker {
    width: 24px;
    position: relative;
}
#colorpicker>div {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(80%, -120%);
    display: flex;
    flex-flow: row wrap;
    width: 128px;
}
.color {
    width: 24%;
    height: 32px;
    border-radius: 10%;
}
.color:hover {
    transform: scale(1.1);
}




@media screen and (max-width: 1128px) {
    .gigacontain {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {

    .gigacontain {
        border: 1px gray none;
        width:100%;
        padding: 8px 8px;
    }

}