<div class="carnet">

    <div id="toprow" class="inline">
        <div class="corner"></div>
        <div class="navtop"></div>
        <div class="corner"></div>
    </div>
    <div id="mainrow" class="inline">
        <div class="navleft"></div>
        <div class="main" #page>
            <canvas id="canvas1" (window:resize)="canvasResize()"></canvas>
        </div>
        <div class="navright"></div>
    </div>
    <div id="botrow" class="inline">
        <div class="corner"></div>
        <div class="navbot"></div>
        <div class="corner"></div>
    </div>

</div>
<div class="docbar inline">
    <div class="documents">
        <div class="doc" *ngFor="let l of layers" [style.background-color]="l.color">
            <span>{{l.username | slice:0:1}}{{l.index}}</span>
            
        </div>
    </div>
    <div class="saveload inline">
        <div>
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div>
            <i class="fa-solid fa-file-arrow-down"></i>
        </div>
        <div class="hid-container" (click)="delbut.classList.toggle('hidd')">
            <i class="fa-solid fa-trash-can"></i>
            <div class="hid-element hidd" #delbut>
                <p>Effacer vos dessins ?</p>
                <div (click)="delMyDocs()" class="destroy">
                    <i class="fa-solid fa-skull"></i>
                    <span>EFFACER</span>
                </div>
                <div>
                    <i class="fa-solid fa-rectangle-xmark"></i>
                    <span>ANNULER</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="barrebot inline">
    <div class="sizeInfo inline" #sizeInfo>
        <span>{{tool.size}}</span>
        <div [ngStyle]="{'border-width.px':tool.size-1,'margin-top.px':10-tool.size}"></div>
    </div>
    <div class="toolbelt">
        <div (click)="changeTool('Brush')" [ngClass]="{'active':tool.type == 'Brush'}">
            <i class="fa-solid fa-paintbrush" style="padding-right: 2px"></i>
        </div>
        <div (click)="changeTool('Select')" [ngClass]="{'active':tool.type == 'Select'}">
            <i class="fa-solid fa-arrow-pointer" style="padding-left: 4px"></i>
        </div>
        <div (click)="changeTool('Eraser')" [ngClass]="{'active':tool.type == 'Eraser'}">
            <i class="fa-solid fa-scissors"></i>
        </div>

    </div>
    <div class="colorOpt">
        <div class="colordiv" *ngFor="let col of palette3" [style.background-color]="col" (click)="changeColor(col)">
            <i class="fa-solid fa-circle-check" *ngIf="tool.color == col" [style.color]="getColorByBgColor(col)"></i>
        </div>
    </div>

</div>