<div class="carnet">

    <div id="toprow" class="inline">
        <div class="corner"></div>
        <div class="navtop"></div>
        <div class="corner"></div>
    </div>
    <div id="mainrow" class="inline">
        <div class="navleft"></div>
        <div class="main" #page>
            <canvas width="100" height="100" id="canvas1" (window:resize)="canvasResize()"></canvas>
            <!-- <canvas width="500" height="500" id="canvas1"></canvas> -->
        </div>
        <div class="navright"></div>
    </div>
    <div id="botrow" class="inline">
        <div class="corner"></div>
        <div class="navbot"></div>
        <div class="corner"></div>
    </div>

</div>
<div class="barrebot inline">
    <div class="outils" (click)="changeToolTab($event)">
        <div #color  class="active">
            <i class="fa-solid fa-droplet"></i>
        </div>
        <div  #tool>
            <i class="fa-solid fa-paintbrush" *ngIf="toolParam.type == 'Pinceau'"></i>
            <i class="fa-solid fa-eraser" *ngIf="toolParam.type == 'Gomme'"></i>
            <i class="fa-solid fa-skull" *ngIf="toolParam.type == 'Supergomme'"></i>
        </div>
        <div #file>
            <i class="fa-solid fa-floppy-disk"></i>
        </div>
    </div>
    <div class="options">
        <div *ngIf="color.classList.contains('active')">
            <div class="colorOpt">
                <div class="colordiv" *ngFor="let col of palette" [style.background-color]="col" (click)="changeColor(col)">
                    <i class="fa-solid fa-circle-check" *ngIf="toolParam.color == col"></i>
                </div>
            </div>
        </div>
        <div *ngIf="tool.classList.contains('active')">
            <div class="inline optLine">
                <label>Type</label>
                <select [ngModel]="toolParam.type" (change)="changeTool(toolType)" #toolType>
                    <option value="Pinceau">Pinceau</option>
                    <option value="Gomme">Gomme</option>
                    <option value="Supergomme">Supergomme</option>
                </select>
            </div>
            <div class="inline optLine">
                <label for="sizeSlider">Taille</label>
                <span>{{toolParam.size}}</span>
                <input type="range" min="1" max="50" [ngModel]="toolParam.size" step="1" (change)="changeSize(sizeSlider)" #sizeSlider id="sizeSlider" name="sizeSlider">
            </div>
        </div>
        <div *ngIf="file.classList.contains('active')">
            options
        </div>
    </div>
</div>