<div class="carnet">

    <div id="toprow" class="inline">
        <div class="corner"></div>
        <div class="navtop"></div>
        <div class="corner"></div>
    </div>
    <div id="mainrow" class="inline">
        <div class="navleft"></div>
        <div class="main">
            <canvas width="600" height="600" style="border: 1px solid #cccccc;" id="canvas1"></canvas>
        </div>
        <div class="navright"></div>
    </div>
    <div id="botrow" class="inline">
        <div class="corner"></div>
        <div class="navbot"></div>
        <div class="corner"></div>
    </div>

</div>
<div class="outils">

</div>