:host {
    flex-grow: 1;
    flex-flow: column nowrap;
    display: flex;
}
.carnet {
    width: 100%;
    height: 70%;
    flex-grow: 1;
}
#mainrow {
    height: 100%;
    justify-content: center;
    position: relative;
    display: flex;
    top: 24px;
}
.docbar {
    border: none;
}
.documents {
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-flow: row wrap;
    padding-left: 32px;
}
.documents .doc {
    height: 20px;
    width: 16px;
    border: 2px transparent solid;
    border-radius: 2px;
    margin-top: 6px;
    margin-right: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 8px;
    font-weight: 800;
    padding-right: 2px;
}
.documents .doc.active {
    border-color: black;
}

.saveload {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: gray;
    font-size: 24px;
}
.saveload > div {
    margin-left: 8px;
}
.saveload > div:hover {
    color: white;
}
.saveload .hid-container {
    position: relative;
    margin: 0px 8px 0px 16px;
}
.saveload .hid-element {
    position: absolute;
    bottom: 46px;
    right: 0px;
    font-size: 16px;
    z-index: 10;
    color: rgba(255, 255, 255, 0.7);
    background-color: black;
    border: 8px solid firebrick;
    width: 200px;
    text-align: center;
    padding: 24px 0px;
}
.saveload .hid-element>p {
    margin-top: 0;
}
.saveload .hid-element>div {
    cursor: pointer;
    margin-top: 16px;
}
.saveload .hid-element>div:hover span {
    font-weight: bold;
    color: white;
}
.saveload .hid-element>div.destroy:hover span {
    color: red;
}
.saveload .hid-element>div i {
    padding-right: 12px;
    color: white;
}

.barrebot {
    background: rgba(0, 0, 0, 0.5);
    padding: 12px 64px;
    position: relative;
}

.colorOpt {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
}
.colordiv {
    flex: 1 1 12%;
    font-size: 10px;
    text-align: right;
    position: relative;
}
.colordiv i {
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: white;
}
.colordiv:hover {
    z-index: 10;
    transform: scale(1.1);
}


.toolbelt {
    font-size:20px;
    color: gray;
    display: flex;
    flex-flow: column wrap;
    margin-right: 12px;
}
.toolbelt>div{
    padding: 2px;
    border-left: 3px solid transparent;
}
.toolbelt>div:hover{
    border-left: 3px solid gray;
}

.toolbelt .active {
    color: white;
}


.sizeInfo {
    padding-top: 4px;
    height: 24px;
    width: 52px;
    position: absolute;
    left: 14px;
    top: 14px;
    color: gray;
    justify-content: space-evenly;
}
.sizeInfo > div {
    height: 1px;
    width: 1px;
    background-color: white;
    border: 0px solid white;
    border-radius: 50%;
}




@media screen and (max-width: 800px) {
    :host {
        display: none;
    }
}

@media screen and (max-width: 1128px) {
    .colorOpt {
        width: 100%;
    }
}