:host {
    flex-grow: 1;
    flex-flow: column nowrap;
    display: flex;
}

canvas {
    border: 0.5px solid #cccccc; 
    border-radius: 18px;
}

#toprow {
    height: 4%;
    justify-content: center;
}
#mainrow {
    height: 92%;
    justify-content: center;
}
#botrow {
    height: 4%;
    justify-content: center;
}
.carnet {
    width: 100%;
    height: 70%;
    flex-grow: 1;
}
.main {
    background: white;
    border-radius: 24px;
    flex-grow: 1;
    display: flex;
    padding-top: 11px;
    padding-left: 11px;
    position: relative;
}
.navtop {
    margin: 12px;
    margin-top: 0px;
    border: 1px beige dashed;
    border-top: none;
    opacity: 0.4;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    flex-grow: 1;
}
.navbot {
    margin: 12px;
    margin-bottom: 0px;
    border: 1px beige dashed;
    border-bottom: none;
    opacity: 0.4;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    flex-grow: 1;
}
.navleft {
    margin-right: 12px;
    border: 1px beige dashed;
    border-left: none;
    opacity: 0.4;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    width: 4%;
}
.navright {
    margin-left: 12px;
    border: 1px beige dashed;
    border-right: none;
    opacity: 0.4;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    width: 4%;
}
.corner {
    width: 4%;
    height: 4%;
}

.docbar {
    /* background: rgba(255, 255, 255, 0.6); */
    /* border-top: 2px solid rgba(255, 255, 255, 0.6); */
    height: 42px;
    border: none;
}
.documents {
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-flow: row wrap;
    padding-left: 24px;
}
.documents .doc {
    height: 32px;
    width: 32px;
    background-color: coral;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 5px;
}
.saveload {
    margin-left: auto;
    padding: 4px 24px;
    padding-left: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: gray;
    font-size: 28px;
    justify-items: space-around;
}
.saveload > div {
    margin-left: 12px;
}
.saveload > div:hover {
    color: white;
}

.barrebot {
    /* height: 96px; */
    background: rgba(0, 0, 0, 0.5);
    /* border-top: 2px black solid; */
    padding: 12px 64px;
    position: relative;
}
/* .outils div {
    color: white;
    font-size: 24px;
    width: 32px;
    text-align: center;
    padding: 4px;
}
.outils div.active {
    background:rgba(255, 255, 255, 0.25)
}
.outils div:hover {
    background:rgba(255, 255, 255, 0.35)
}
.options {
    width: 325px;
    border: 4px rgba(255, 255, 255, 0.25) solid;
    padding: 8px;
    font-size: 12px;
    color: white;
}
.options>div {
    height: 100%;
    width: 100%;
} */

.colorOpt {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
}
.colordiv {
    flex: 1 1 12%;
    font-size: 10px;
    text-align: right;
    position: relative;
}
.colordiv i {
    position: absolute;
    bottom: 4px;
    right: 4px;
}
.colordiv:hover {
    z-index: 10;
    transform: scale(1.1);
}
/* 
.optLine {
    padding: 0 12px;
}
.optLine :is(label,span,input) {
    padding-bottom: 10px;
    flex-grow: 1;
    align-self: flex-end;
} */

.toolbelt {
    font-size:24px;
    color: gray;
}
.toolbelt>div{
    margin-right: 16px;
    border-left: 3px solid transparent;
}
.toolbelt>div:hover{
    border-left: 3px solid gray;
}
.toolbelt>div i{
    padding-left: 4px;
}

.toolbelt .active {
    color: white;
}

.sizeInfo {
    padding-top: 4px;
    height: 24px;
    width: 52px;
    position: absolute;
    left: 16px;
    top: 14px;
    color: gray;
    justify-content: space-evenly;
}
.sizeInfo > div {
    height: 1px;
    width: 1px;
    background-color: white;
    border: 0px solid white;
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    :host {
        display: none;
    }
}

@media screen and (max-width: 1128px) {
    .colorOpt {
        width: 100%;
    }
}