nav.gigabar {
    display: flex;
    flex-flow: row nowrap;
    height: 45px;
    color: white;
    flex: 0 0 auto;
    transition: 1s;
    background: #626262;
}
nav.gigabar:hover {
    background: black;
    height: 96px;
}
.gigabar img {
    height: 100%;
}
.gigabar h1 {
    margin-left: 32px;
    font-size: 64px;
    margin-top: 32px;
}
/* .gigabar button {
    margin-left: auto;
    border: none;
    background: rgb(57, 57, 57);
    font-size: 32px;
    padding: 0px 16px;
    color: gray;
    width: 96px;
}
.gigabar button:hover {
    background: rgb(117, 117, 117);
    color: white;
} */

div.reste {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    background-image: url('../assets/images/texture-paper-01.jpg') ;
}
#mainChat {
    justify-content: flex-end;
    flex-grow: 1;
    position: relative;
}
#mainChat.displaynone {
    display: none;
}

@media screen and (max-width: 800px) {
    .gigabar img {
        display: none;
    }
    .gigabar h1 {
        margin-left: 24px;
        font-size: 48px;
        margin-top: 48px;
    }
}