.gigacontain {
    border: 1px gray solid;
    padding: 16px 32px;
    width: 50%;
}
.gigacontain input {
    font-size: 32px;
    margin: 12px 0px;
}
.gigacontain button {
    width: 30%;
    margin-left: auto;
    padding: 8px;
    border: none;
    background: black;
    color: white;
    font-size: 14px;
}
.gigacontain button:hover {
    transform: scale(1.1);
}

.messageDisplay {
 flex-grow: 1;
}

#mainChat {
    margin: 24px auto;
    justify-content: center;
    flex-grow: 1;
}

.userlistDisplay {
    width: 128px;
    padding-top: 31px;
    padding-right: 12px;
}
.userlistDisplay p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    font-weight: 600;
}

.inline {
    display: flex; flex-flow: row nowrap;
}
.colon {
    display: flex; flex-flow: column nowrap;
}

.message {
    font-size: 14px;
    /* border-bottom: 0.5px rgb(213, 213, 213) solid; */
    padding: 8px 4px 8px 4px;
    line-height: 16px;
}
.messAut {
    font-weight: 600;
}

.messageInput {
    margin: 0;
    margin-top: 8px;
}
.messageInput textarea {
    flex: 7;
    border: none;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    resize: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 12px 8px;
    margin: 0;
    height: 18px;
}
.messageInput button {
    flex: 1;
    border: none;
    color: dimgray;
    padding: 0;
}

#colorpicker {
    width: 24px;
    position: relative;
}

#colorpicker>div {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(80%, -120%);
    display: flex;
    flex-flow: row wrap;
    width: 128px;
}

/* ici on utilise cette syntaxe pour que le css affecte les éléments qui ont été générés dynamiquement */
:host ::ng-deep .color {
    width: 24%;
    height: 32px;
    border-radius: 10%;
}
:host ::ng-deep .color:hover {
    transform: scale(1.1);
}

#mainChat.displaynone {
    display: none;
}


@media screen and (max-width: 1128px) {
    .gigacontain {
        width: 70%;
    }
}

@media screen and (max-width: 640px) {

    .gigacontain {
        border: 1px gray none;
        border-radius: 12px;
        padding: 8px 8px;
        margin: 12px auto;
        width: 90%;
        box-shadow: none;
    }
    .userlistDisplay {
        display: none
    }
}