
<!-- Fenêtre de co -->
<div class="gigacontain colon" *ngIf="user.name === ''" style="margin: 48px auto;">
  <h3>Bonjour,</h3>
  <p>Veuillez entrer votre nom</p>
  <form #usernameForm="ngForm" (ngSubmit)="loguser(usernameForm)" class="colon">
    <input type="text" id="pseudo" name="username" ngModel maxlength="24">
    <button type="submit">Connexion</button>
  </form>
</div>

<!-- fenetre de chat -->
<div [ngClass]="{'displaynone': user.name == ''}" class="inline" id="mainChat" >
  <!-- LISTE DES UTILISATEURS CONNECTÉS -->
  <div class="userlistDisplay colon">
    <p *ngFor="let u of userlist" [style.color]="u.color">{{u.name}}
      <i class="fa-solid fa-star" *ngIf="u.id == user.id"></i>
    </p>
    <button (click)="logout()">Deconnexion</button>
  </div>
  <!-- CHAT -->
  <div class="gigacontain colon">
    <div class="messageDisplay">
      <div *ngFor="let m of messages" class="message">
        <span [style.color]="m.couleur" class="messAut">{{m.auteur}} : </span>
        <span>{{m.contenu}}</span>
      </div>
    </div>

      <form class="inline messageInput" #messageBox="ngForm" (ngSubmit)="sendMessage(messageBox)">
        <div id="colorpicker" (click)="picker.classList.toggle('hidd')" class="hid-container">
          <div class="hid-element hidd" #picker></div>
        </div>
        <textarea 
          name="message"
          ngModel
          (keyup.enter)="sendMessage(messageBox)"
          (ngModelChange)="adjustHeight(messageB)"
          #messageB>
        </textarea>
        <button>
          <i class="fa-solid fa-paper-plane" style="font-size:24px; color:rgb(198, 198, 198);"></i>
        </button>
      </form>

  </div>

</div>