.diceContainer {
    background: #626262;
    padding: 8px;
    display: flex;
    flex-flow: row nowrap;
    border-left: 5px white solid;
}
.diceContainer .dice {
    position: relative;
    background-color: #929292;
    border-radius: 12px;
    margin-right: 8px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    height: 40px;
    width: 32px;
}
.diceContainer .diceLabel {
    background: black;
    color: white;
    font-size: 9px;
    z-index: 15;
    text-align: center;
    cursor: not-allowed;
}
.diceContainer .dice p {
    position: absolute;
    padding: 9px 8px;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    bottom: 0px;
    cursor: not-allowed;
}
.diceContainer .dice .allowed {
    cursor: pointer;
}
.diceContainer .diceComm {
    margin-left: auto;
    font-size: 12px;
    display: flex;
    flex-flow: column wrap;
    height: 42px;
    width: 128px;
    overflow: auto;
    scrollbar-width: thin;
}
.diceContainer .diceComm span {
    margin-right: 8px;
}
.winner {
    display: none;
}
.slide {
    animation: slidown 0.3s linear 0s infinite forwards running;
}

@keyframes slidown {
  from { bottom: 20px; }
  to { bottom: -128px; }
}
