/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import '~highlight.js/styles/agate.css';

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

app-root {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}

.hidd {
    visibility: hidden;
}
.inline {
    display: flex; flex-flow: row nowrap;
}
.colon {
    display: flex; flex-flow: column nowrap;
}