<div class="loginWindow colon">
  <h3>Bonjour,</h3>
  <!-- <p>connectez vous avec un nom au pif</p> -->
  <form #usernameForm="ngForm" (ngSubmit)="login(usernameForm)" class="colon">
    <label for="username">Nom</label>
    <input type="text" id="username" name="username" ngModel maxlength="38">
    <!-- <label for="room"></label>
    <input type="text" id="room" name="room" ngModel maxlength="24"> -->
    <button type="submit">Connexion</button>
  </form>
  <div *ngIf="prevUser.id" class="reconnect inline">
    <a (click)="reconnect()">
      Se reconnecter en tant que 
      <strong [style.border-color]="prevUser.color">{{prevUser.name}}</strong>
      ?
    </a>
    <i class="fa-solid fa-trash-can" (click)="destroyToken()"></i>
    <span (click)="switchAutocoParam()" [ngClass]="{'active': params.autoreco == 'oui'}">AUTO</span>
  </div>
</div>