.loginWindow {
    background: #424242;
    width: 40%;
    padding: 32px 64px;
    color: white;
    margin: 64px auto;
}
.loginWindow input {
    font-size: 32px;
    margin: 12px 0px;
    border: none;
    outline: none;
}
.loginWindow button {
    width: 30%;
    margin-left: auto;
    padding: 8px;
    border: none;
    background: black;
    color: white;
    font-size: 14px;
}

@media screen and (max-width: 800px) {

    .loginWindow {
        width:90%;
        padding: 16px 24px;
    }

}